$palette-primary: (
    50 : #f2f8e0,
    100 : #e0efb3,
    200 : #cbe480,
    300 : #b6d94d,
    400 : #a6d026,
    500 : #96c800,
    600 : #8ec200,
    700 : #83bb00,
    800 : #79b400,
    900 : #68a700,
    A100 : #ebffd1,
    A200 : #d5ff9e,
    A400 : #bfff6b,
    A700 : #b3ff52,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-accent: (
    50 : #fbf6e5,
    100 : #f5e9bf,
    200 : #eeda94,
    300 : #e7cb69,
    400 : #e1bf48,
    500 : #dcb428,
    600 : #d8ad24,
    700 : #d3a41e,
    800 : #ce9c18,
    900 : #c58c0f,
    A100 : #fffbf2,
    A200 : #ffe9bf,
    A400 : #ffd88c,
    A700 : #ffcf73,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$palette-team-red: (
    50 : #f8e7e4,
    100 : #efc3bc,
    200 : #e49b8f,
    300 : #d97362,
    400 : #d05540,
    500 : #c8371e,
    600 : #c2311a,
    700 : #bb2a16,
    800 : #b42312,
    900 : #a7160a,
    A100 : #ffd6d4,
    A200 : #ffa6a1,
    A400 : #ff756e,
    A700 : #ff5d54,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-team-red: (
    50 : #f8e7e4,
    100 : #efc3bc,
    200 : #e49b8f,
    300 : #d97362,
    400 : #d05540,
    500 : #c8371e,
    600 : #c2311a,
    700 : #bb2a16,
    800 : #b42312,
    900 : #a7160a,
    A100 : #ffd6d4,
    A200 : #ffa6a1,
    A400 : #ff756e,
    A700 : #ff5d54,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-team-blue: (
    50 : #e4e7f2,
    100 : #bcc3e0,
    200 : #8f9bcb,
    300 : #6273b6,
    400 : #4055a6,
    500 : #1e3796,
    600 : #1a318e,
    700 : #162a83,
    800 : #122379,
    900 : #0a1668,
    A100 : #9aa3ff,
    A200 : #6775ff,
    A400 : #3447ff,
    A700 : #1a30ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$palette-greyscale: (
    50 : #ebebeb,
    100 : #cccccc,
    200 : #aaaaaa,
    300 : #888888,
    400 : #6f6f6f,
    500 : #555555,
    600 : #4e4e4e,
    700 : #444444,
    800 : #3b3b3b,
    900 : #2a2a2a,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$palette-error: (
    50 : #faeaea,
    100 : #f4cbca,
    200 : #eca9a7,
    300 : #e48784,
    400 : #df6d69,
    500 : #d9534f,
    600 : #d54c48,
    700 : #cf423f,
    800 : #ca3936,
    900 : #c02926,
    A100 : #fffdfd,
    A200 : #ffcbca,
    A400 : #ff9997,
    A700 : #ff807e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$palette-warn: (
    50 : #fdf5ea,
    100 : #fbe6ca,
    200 : #f8d6a7,
    300 : #f5c683,
    400 : #f2b969,
    500 : #f0ad4e,
    600 : #eea647,
    700 : #ec9c3d,
    800 : #e99335,
    900 : #e58325,
    A100 : #ffffff,
    A200 : #fff5ec,
    A400 : #ffdab9,
    A700 : #ffcca0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$palette-success: (
    50 : #ebf6eb,
    100 : #ceeace,
    200 : #aedcae,
    300 : #8dcd8d,
    400 : #74c374,
    500 : #5cb85c,
    600 : #54b154,
    700 : #4aa84a,
    800 : #41a041,
    900 : #309130,
    A100 : #d9ffd9,
    A200 : #a6ffa6,
    A400 : #73ff73,
    A700 : #59ff59,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$palette-info: (
    50 : #ebf7fb,
    100 : #ceecf5,
    200 : #ade0ef,
    300 : #8cd3e8,
    400 : #74c9e3,
    500 : #5bc0de,
    600 : #53bada,
    700 : #49b2d5,
    800 : #40aad1,
    900 : #2f9cc8,
    A100 : #ffffff,
    A200 : #d9f3ff,
    A400 : #a6e4ff,
    A700 : #8cdcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$palette-discord: (
    50 : #eae9f5,
    100 : #cbc8e7,
    200 : #a8a3d7,
    300 : #857ec7,
    400 : #6a62bb,
    500 : #5046af,
    600 : #493fa8,
    700 : #40379f,
    800 : #372f96,
    900 : #272086,
    A100 : #c6c3ff,
    A200 : #9690ff,
    A400 : #665dff,
    A700 : #4e43ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);