<app-entity-legendaries [entity]="entity"></app-entity-legendaries>
<app-entity-dofus [entity]="entity"></app-entity-dofus>
<app-entity-states [entity]="entity"></app-entity-states>
<app-entity-profil [entity]="entity"></app-entity-profil>
<div class="stats">
    <app-entity-stat [entity]="entity" stat="ap_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="mp_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="lock"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="dodge"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="critical_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="pushback_resistance"></app-entity-stat>
</div>
<div class="stats">
    <app-entity-stat [entity]="entity" stat="neutral_resistance_percent"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="fire_resistance_percent"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="earth_resistance_percent"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="water_resistance_percent"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="air_resistance_percent"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="melee_resistance_percent"></app-entity-stat>
</div>
<div class="stats">
    <app-entity-stat [entity]="entity" stat="neutral_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="fire_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="earth_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="water_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="air_resistance"></app-entity-stat>
    <app-entity-stat [entity]="entity" stat="ranged_resistance_percent"></app-entity-stat>
</div>